<div class="content-body">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Đặt hàng thành công!</h4>
        <p>Đơn hàng của bạn đã đặt hàng thành công! Mã đơn hàng là: <b>
                <%= orderID %>
            </b></p>
        <h6>Lưu ý:</h6>
        <li>Đơn hàng của bạn sẽ được giao trong 3-5 ngày</li>
        <li>Cách thức thanh toán: COD nhận hàng rồi thanh toán</li>
        <li>Miễn phí đổi trả sản phẩm trong 7 ngày</li>
        <br>
        <p>NewShirt Store xin cảm ơn quý khách đã tin tưởng ủng hộ!</p>

        <hr>
        <a href="/">Quay lại shopping ngay thôi!!</a>
    </div>
</div>