/* Header of page */

html {
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: #f9ffed;
  padding: 0 100px;
}

.bd {
  margin-top: 70px;
  padding: 0;
}

.color-nav {
  background-color: #f9ffed;
  padding: 0 100px;

}


.img-brand {
  width: 200px;
}

.profile {
  margin: 10px;
}

.profile a {
  text-decoration: none;
  color: #2b3825;
}

.profile .name {
  font-weight: bold;
}

.profile a:hover {
  font-style: italic;
  text-decoration: underline;
  color: #2b3825;
}

.avt {
  width: 60px;
  border-radius: 50%;
}

/* Content of page */

.content-body {
  padding: 50px 100px 100px 100px;
}

.content-product {
  padding: 30px 50px;
}

/* Update product*/
.edit:hover {
  text-decoration: underline;
}

/* Footer of page */
.footer {
  background-color: #f9ffed;
  color: #2b3825;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;

}

.list {
  color: black;
  text-decoration: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

/* List product */

/*Customer layout*/
/*Search bar*/

.btn-search {
  background-color: transparent;
  border: 1px solid #2b3825;
  border-radius: 5px;
  color: #2b3825;
}

.btn-search:hover {
  background-color: #2b3825;
  color: #f9ffed;
}

.btn-signin {
  background-color: #2b3825;
  border: 1px solid #2b3825;
  border-radius: 3px;
  height: 40px;
  color: #f9ffed;

}

.btn-signin:hover {
  background-color: #41523a;
}

.item-link {
  margin: 0px 10px;
  font-size: larger;
  text-decoration: none;
  color: #2b3825;
}

.item-link:hover {
  color: #121810;
  font-style: italic;
}

#numberOfProduct {
  font-size: 1rem;
}

/* Sigup form */


.sigup-title {
  text-align: center;
}

.not-null {
  box-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.product-container {
  padding-top: 2em;
}

.product-titel {
  padding-top: 0.75em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  z-index: 0;
  text-align: left;
  font-style: normal;
  color: #121810;
  text-decoration: none;
}

.product-price {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  text-align: left;
  margin-top: 0.1em;
}

.product-color {
  margin-top: 0.1em;
  display: flex;
}

.product-color-contain {
  margin-right: 0.5em;
  width: 20px;
  height: 20px;
  background-color: #41523a;
}

.product-img {
  width: 100%;
  transition: transform .2s;
}

.product-img:hover {
  transform: scale(1.25);
}

.display-img-product {
  padding-right: 5em;
}

.color-choose {
  width: 2.5em;
  height: 2.5em;
  padding: 0;
}

.btn-choose-color {
  border: #121810 solid 1px;
  padding: 0.5em 1em;
  background-color: transparent;
}

.color-row {
  padding: 0.2em 0.5em;
}

.size-property {
  width: 2.5em;
  height: 2.5em;
  border: #2b3825 solid 1px;
}

.a-choose-size {
  text-decoration: none;
  font-style: normal;
  color: #121810;
}

.a-choose-size:hover {
  color: #121810;
}

.c-size-content {
  margin-right: 1em;
}

.property-title {
  margin: 0;
}

.property-content {
  margin: 2em 0;
}

.add-to-cart {
  height: 3em;
  border: #121810 solid 1px;
  width: 100%;
  background-color: #121810;
  color: #f9ffed;
}

.lableExpanded>input {
  display: none;
}

.lableExpanded input:checked+.c-size-radio {
  font-weight: bolder;
  text-decoration: underline;
  background-color: #f1f1f1;
}


.add-to-cart:hover {
  background-color: transparent;
  color: #121810;
  font-weight: bolder;
}

.c-color-content {
  border: #cccccc solid 1px;
}

.color-box {
  margin-right: 0.5em;
}

.lableExpandedColor>input {
  display: none;
}

.lableExpandedColor input:checked+.c-color-radio {
  border: #41523a solid 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.amount-product {
  height: 2em;
  padding-left: 0.5em;
  border: #121810 solid 1px;
}

.notifiCart {
  width: 50%;
}

.cart-content {
  margin: 0 5em;
}

.cart-property {
  padding: 0;
  margin: 5px;
}

.cart-titel {
  margin-bottom: 1.5em;
}

.cart-product-box {
  margin: 1em 0em;
}

.property {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.property-sum-price {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}